:focus {
  outline: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  background-image: url(../img/Background-site.jpg);
  background-size: cover;
}
body .main-content-block .js-start-animation {
  bottom: 0px !important;
  opacity: 1 !important;
}
body .main-content-block .tabs-with-content {
  position: relative;
  bottom: -50px;
  opacity: 0;
  -moz-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
body .main-content-block .tabs-with-content .nav-container {
  background: rgba(0, 0, 0, 0.2);
}
body .main-content-block .tabs-with-content .nav-container .btn-primary,
body .main-content-block .tabs-with-content .nav-container .btn {
  padding: 0 20px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 55px;
  color: #fff;
  background: #5C6BC0;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs {
  padding: 0 15px;
  border-bottom: 0px;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs li:nth-child(1) a {
  background-color: #C5CAE9;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs li {
  height: 0;
  width: 100%;
  text-align: center;
  transition: all ease-out 0.1s;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs li img {
  width: 40px;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs li a {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  padding: 18px 15px;
  margin: 0 1px 1px 0;
  -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  position: relative;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .show {
  height: 57px;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right {
  height: 57px;
  background-color: #9FA8DA;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 12px;
  margin: 5px 0 0;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right p i {
  font-size: 15px;
  line-height: 10px;
  margin: 0 10px 0 0;
  position: relative;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right p a {
  color: rgba(255, 255, 255, 0.7);
  background-color: inherit;
  padding: 0;
}
body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right .sch {
  position: absolute;
  bottom: -27px;
  z-index: 99;
  text-align: center;
  width: 100%;
  font-size: 13px;
  color: #fff;
  background: #acb0ff;
  padding: 5px 0;
  font-weight: 600;
  right: 0;
}
body .main-content-block .tabs-with-content .outer-content {
  background-color: #f9fafa;
  background-image: url(../img/bg.png);
  background-position: left top;
  background-repeat: no-repeat;
}
body .main-content-block .tabs-with-content .outer-content .tab-content {
  font-size: 13px;
  line-height: 19.5px;
  padding: 27px 15px 5px;
  background-image: url(../img/bgb.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 0 -15px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .logo-holder {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #3F51B5;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .logo-holder img {
  max-width: 390px;
  display: block;
  margin: 0 auto;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .logo-holder p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row {
  margin: 0 -15px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade {
  height: 500px;
  margin: 0 -15px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-control i {
  position: absolute;
  top: 50%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner {
  background-color: #ffffff;
  height: 100%;
  position: relative;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner img {
  height: 100%;
  max-width: none;
  position: absolute;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .item {
  height: 100%;
  transition: display 200ms linear 0s;
  overflow: hidden;
  opacity: 0;
  transition-property: opacity;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active img {
  transition: transform 5000ms linear 0s;
  transform: scale(1.05, 1.05);
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .item,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active.left,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .next.left,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .next,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .prev,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active.left,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .row .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .under-slider-btn {
  position: relative;
  margin-top: -28px;
  padding: 0 20px;
  width: 100%;
  z-index: 99;
  color: #ffffff;
  background: #5C6BC0;
  border-radius: 0;
  border: none;
  font-size: 18px;
  line-height: 55px;
  font-weight: 600;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .under-slider-btn:hover {
  transform: translate(0px, -5px);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane hr {
  height: 0;
  margin: 15px -15px;
  color: #3F51B5;
  border-top: 1px solid #3F51B5;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .text .text-muted {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form {
  border-top: 1px solid #3F51B5;
  padding: 0 0 15px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form h2 {
  margin: 10px 0 0;
  font-weight: 800;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form {
  width: 90%;
  margin: 0 auto;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input {
  position: relative;
  margin-top: 25px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input label {
  position: absolute;
  left: 0;
  top: 2px;
  color: #777777;
  background: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .5px;
  pointer-events: none;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .alert {
  visibility: hidden;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: transparent;
  border-color: transparent;
  font-size: 13px;
  font-weight: 400;
  color: #acb0ff;
  border-radius: 0;
  -webkit-transition: .2s ease visibility;
  transition: .2s ease visibility;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .alert span {
  display: none;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .bar::before {
  left: 50%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .bar::after {
  right: 50%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .bar::after,
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input .bar::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 0px;
  background: #acb0ff;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input input {
  width: 100%;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: none;
  color: #777777;
  border: 0;
  border-bottom: 1px solid #777777;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input input:focus ~ label {
  top: -20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #acb0ff;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input input:valid ~ label {
  top: -20px;
  font-size: 12px;
  text-transform: uppercase;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input input:focus ~ .bar::after {
  width: 50%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .layout-input input:focus ~ .bar::before {
  width: 50%;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .btn-info {
  width: 100%;
  background: #acb0ff;
  padding: 0 20px;
  border-radius: 0;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 55px;
}
body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form .btn-info:hover {
  background: #a4a8ff;
}
body footer {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 40px 0 0 0;
  text-align: center;
}
body footer .container .row div {
  padding: 20px 0;
}
body footer p {
  text-align: center;
}
body footer .lower-footer {
  background: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 50px;
}
@media screen and (min-width: 992px) {
  body .main-content-block .tabs-with-content .nav-container .nav-tabs li {
    width: auto;
    height: 57px;
  }
  body .main-content-block .tabs-with-content .nav-container .nav-tabs li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right {
    padding: 0 5px;
  }
  body .main-content-block .tabs-with-content .nav-container .nav-tabs .pull-right .sch {
    bottom: -45px;
  }
  body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form {
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  body .main-content-block .tabs-with-content .outer-content .tab-content .tab-pane .bottom-form form {
    width: 60%;
  }
}
